.bloqueCurDist{   height: 252px;
   
    overflow: hidden;
    width: 529px; }

.BQDonline {
	position:relative; float:left; width:520px;
}

.BQDdistancia{
	position:relative; float:left; width:520px; margin-bottom:10px;
}
