.bloqueCurDist{   height: 252px;
    margin-left: 15px;
    overflow: hidden;
    width: 533px; }

.BQDonline {
	position:relative; float:left; width:540px; padding-bottom:5px; margin-bottom:15px; border-bottom: 1px solid #BBBBBB;
}

.BQDdistancia{
	position:relative; float:left; width:540px; margin-bottom:10px;
}
