.logo  {position:relative; top:-77px; left:20px;  float: left;}






.imgCat	{position: relative; float:left;}
.imgCat {width:781px; height:209px;}
.icat {margin-left: 474px; margin-top: -135px;}
.imas {margin-left: 474px; margin-top: -209px;}







.margen_sup	{ height:22px;width: 920px;}

.bloque_negro{	background-color:#000000;	height:179px;	margin-bottom: -179px;	width: 920px;}
.Cont_bloque_negro {height:209px;}


.imgCat	{position: relative; float:left;}
.imgCat {width:540px; height:150px;}
.icat {margin-left: 380px; margin-top: -135px;}
.imas {margin-left: 380px; margin-top: -150px;}


.Tit_cat{	z-index: 999;   	height: 77px;    left: 46px;   padding: 0;    position: relative;    top: 88px;    width: 620px; }

.Tit_cat h1 {	font-family: "brandon_grotesque_boldregular",sans-serif;	font-size:25px;	color:#ffffff;	margin:0px;	 line-height: 1.2;	 letter-spacing: -1px;	 text-shadow: black 0.1em 0.1em 0.2em;
	 filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=000000);
}
