.carrito {  height: 500px; overflow:hidden;
    left: 50%;
    position: fixed;     border: 1px solid #666666;
    top: 50%;
    width: 800px;
    z-index: 9999; visibility: hidden;}
    
    
    
.alSld {position: absolute; top: 0px; left: -800px; height: 500px;  width: 2400px;}

.posSld0 {position: relative; top: 0px; float:left; height: 500px; width:800px;  }
.posSld1 {position: relative; top: 0px; float:left; height: 500px; width:800px;  }
.posSld2 {position: relative; top: 0px; float:left; height: 500px; width:800px;  }


.frjSup 		{position: absolute; top: 25px; left: 0px; width:800px; height:25px; border-top:1px solid #CCCCCC; border-bottom:1px solid #DDDDDD; }
.frjSup	p		{margin:6px 0px 0px 76px; font-size:13px; font-family:Arial; }
.carrito .iFAV	{position: absolute; top: 15px; left: 20px;}


.frjIn	{position: absolute; top: 360px; left: 0px;   width:800px; height:95px; border-top:1px solid #CCCCCC; border-bottom:1px solid #DDDDDD; }
.LftB	{position: absolute; top: 361px; left: 50px;  width:200px; height:95px; background-color:#FFFFFF; cursor: pointer }
.RhtB	{position: absolute; top: 361px; left: 550px; width:200px; height:95px; background-color:#FFFFFF; cursor: pointer }

.LftB p {  font-family: Arial;    font-size: 18px;    height: 50px;    margin: 6px 9px 0 0 ;    text-align: right;    width: 190px;}
.RhtB p {  font-family: Arial;    font-size: 18px;    height: 50px;    margin: 6px 0 0 9px;    text-align: left;    width: 190px;}



.contScu {position: absolute; top: 100px; left: 21px;   width:758px; height:240px; border:1px solid #CCCCCC;}
.PcScu {   font-size: 12px;    height: 18px;     position: absolute;    top: 77px; cursor: pointer;}

.ctScu {position: absolute; top: 5px; left: 10px;   width:738px; height:233px; visibility: hidden; }
.intCo {position: absolute; top: 20px ; width:715px; height: 206px; overflow: hidden; }

.acdCr :hover {background-color: #EEEEEE;}
.cdCr {  border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    float: left;
    font-size: 11px;
    margin-bottom: 7px;
    min-height: 23px;
    padding: 3px;
    position: relative;
    width: 720px;}
    
.cdCr .tit { width: 300px; position: relative; float: left;}
.cdCr .tip { width: 110px; position: relative; float: left; text-align: center;}
.cdCr .met { width: 80px; position: relative; float: left; text-align: center;}
.cdCr .dur { width: 62px; position: relative; float: left; text-align: center;}
.cdCr .pre { width: 62px; position: relative; float: left; text-align: center;}
.cdCr .imgCc { width: 45px; position: relative; float: left; border:1px solid #CCCCCC; padding:1px;}

.cdCrL {float: left;
    font-size: 11px;
    margin-bottom:2px;
    padding: 3px;
    position: relative;
    width: 720px;}


.cdCrL .tit { width: 300px; position: relative; float: left;}
.cdCrL .tip { width: 110px; position: relative; float: left; text-align: center;}
.cdCrL .met { width: 80px; position: relative; float: left; text-align: center;}
.cdCrL .dur { width: 62px; position: relative; float: left; text-align: center;}
.cdCrL .pre { width: 62px; position: relative; float: left; text-align: center;}
.cdCrL .cent { width: 50px; position: relative; float: left; text-align: center;}

.farr {position: absolute; top: 60px; left:720px; width:20px; height: 20px; background-color: orange;}
.faba {position: absolute; top: 170px; left:720px; width:20px; height: 20px; background-color: red;}

.facti {   background-position: -253px -154px;
    float: right;
    height: 19px;
    position: relative;
    top: -4px;
    width: 15px;}

.fnacti { background-position: -271px -154px;
    float: right;
    height: 19px;
    position: relative;
    top: -4px;
    width: 15px; }

.P1 {left: 30px;   width:150px;} 
.P2 {left: 197px;   width:178px;} 

.act { padding: 4px 9px 1px 5px;  border-left:1px solid #CCCCCC; border-top:1px solid #CCCCCC; border-right:1px solid #CCCCCC; background-color: #FFFFFF;}
.nact { padding: 5px 9px 1px 6px;  border:0px; background-color: transparent;}
 


.smedia {background-position: -105px 0;
    position: absolute;
    height: 40px;
    top:51px; left:44px;
    width: 150px; }

.formats {
 background-position: -4px -154px;
    height: 50px;
    left: 5px;
    position: absolute;
    top: 53px;
    width: 177px;
}


.flef{
 background-position: -188px -154px;
    height: 50px;
    left: -41px;
    position: absolute;
    top: 31px;
    width: 30px;
}

.frig{
  background-position: -220px -154px;
    height: 50px;
    left: 211px;
    position: absolute;
    top: 31px;
    width: 30px;
}

.cloff {background-position: -140px -40px; width: 26px; height: 20px; left: 682px; position: relative; top:7px; cursor:pointer; }
.clon {background-position: -113px -40px;  width: 26px; height: 20px; left: 682px; position: relative; top:7px; cursor:pointer; }

