/* BARRA MENU */

.menuPAG {margin-left:-9px;position:relative;float:left;width:915px;}
  
.ipagin { height: 40px;    position: relative;    width: 39px; margin-top:5px; position:relative; cursor:pointer; }
.ipP {background-position: 0 0; float:left;}
.ipN {background-position: -40px 0; float:right;}

.iFAV { background-position: -303px 0;
    cursor: pointer;
    float: right;
    height: 45px;
    left: 421px;
    position: absolute;
    top: 2px;
    width: 47px;}



.paginacion {font-family:Arial; color:#ffffff; font-size:14px; margin-top:16px; margin-left:8px; position:relative; float:left;}

.menuSOC {position:relative;float:left;width:168px;}
.iFB {height: 40px;    position: relative;    width: 153px; margin-top:5px; float:left; background-position: -104px 0; cursor:pointer;}

/*
.iTW {height: 40px;    position: relative;    width: 37px; margin-top:5px;margin-left:2px; float:left; background-position: -180px 0;}
.iGM {height: 40px;    position: relative;    width: 37px; margin-top:5px;margin-left:2px; float:left; background-position: -143px 0;}
.iML {height: 40px;    position: relative;    width: 37px; margin-top:5px;margin-left:2px; float:left; background-position: -218px 0;}
*/