



.gris1 {color:#EBEBEB !important;}
.gris1_BG {background-color:#EBEBEB !important;}


.gris2 {color:#888888 !important;}
.gris2_BG {background-color:#888888 !important;}

.gris3 {color:#DDE8DD !important;}
.gris3_BG {background-color:#DDE8DD !important;}


.color {color:#1BB105 !important;}
.color_BG {background-color:#1BB105 !important;}

.color1 {color:#008F2F !important;}
.color1_BG {background-color:#008F2F !important;}

.color2 {color:#F4F7F4 !important;}
.color2_BG {background-color: #F4F7F4 !important;}

.blanco {color:#ffffff !important;}
.blanco_BG {background-color: #ffffff !important;}

.negro {color:#000000 !important;}
.negro_BG {background-color: #000000 !important;}



body {
    
    font-family: Arial;
    font-size: 13px;
    margin:0px;
}


.page {
    background: none repeat scroll 0 0;
    height: auto;
    margin: 0 auto;
    padding: 0;}








.clean{clear:both;}


h2 strong {color:#008F2F;}


h2 {
	font-family: "brandon_grotesque_boldregular",sans-serif;
	font-size:18px;
	color:#333333;
	margin:0px;
	 line-height: 1.1;
	 letter-spacing: -1px;
}

h2 a{
	text-decoration: none;
	color:#333333; text-transform:uppercase;
}




h3 {
	font-family: Arial;
    font-size: 22px;
    font-weight: normal;
    margin:0px;
    /*line-height: 1.1;*/
	
}




p {
	margin-top:5px;
	margin-bottom:5px;
}




.M {text-transform: uppercase;}








.left-col{
	position: relative;
	float:left;
	margin-left:15px; 
	width:886px; 
	
}



.shadow {
    -moz-box-shadow: 3px 4px 8px #999;
    -webkit-box-shadow: 3px 4px 8px #999;
    box-shadow: 3px 4px 8px #999;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#999999')";
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#999999');
}

.shadow2 {
    -moz-box-shadow: 3px 4px 8px #777;
    -webkit-box-shadow: 3px 4px 8px #777;
    box-shadow: 3px 4px 8px #777;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#777777')";
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#777777');
}

.bloque{border:1px solid #ffffff;	background-color:#ffffff;margin-bottom:20px;}


/* .contenido {position:relative; } */








.gris_fondo {  background-color: #333333;
    height: 100%;
    left: 0;
    opacity: 0.4;
     -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';filter: alpha(opacity=40);
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 9998;}


.gris_up {
	height: 600px;
	width: 800px;
    left: 50%;
    margin-left: -400px;
    margin-top: -300px;
    position: fixed;
    top: 50%;
    visibility: hidden;
    width: 591px;
    z-index: 9999;
	
}

.portapapeles{
	height: 600px;
	width: 800px;
}










.grd05 {opacity: 0.6;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';filter: alpha(opacity=60);}
.grd07 {opacity: 0.7;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';filter: alpha(opacity=70);}
.grd08 {opacity: 0.8;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';filter: alpha(opacity=80);}

.mapa {background-image:url('images/mapaSpain.png');  border: 1px solid;  height: 238px;   left: 20px;   position: absolute;  top: 20px;    width: 309px;}
.iprov {background-image:url('images/iproSpain.png');}

.p280 {  background-position: 	0px 0px;	width: 33px; height: 37px;	left: 107px;top: 84px;	 background-repeat: no-repeat;position: absolute;}
.p400 {  background-position: -36px 0px;	width: 44px; height: 37px;	left: 131px;top: 79px;	 background-repeat: no-repeat;position: absolute;}
.p080 {  background-position: -81px 0px;	width: 31px; height: 33px;	left: 239px;top: 50px;	 background-repeat: no-repeat;position: absolute;}
.p170 {  background-position: -113px 0px;	width: 35px; height: 25px;	left: 245px;top: 45px;	 background-repeat: no-repeat;position: absolute;}


.contM {position:relative;width: 240px; float:left;}
