
.geo{ width:309px; height:281px;}
.GeoImage{ height:117px;padding:5px;width: 299px; cursor:pointer; position: relative;}

.titGeoImg { 	float: left;	position: relative;    	width: 299px;}
.PROVGeoImg { 	float:right;	position: absolute;  top: 99px;	width: 299px;  height: 24px; }

.flechaGeo {position: relative; float:right; width:17px; height:17px; background-position: -81px -22px; margin-left: 5px;    margin-top: 3px;}


.listadoPROVIS {width:290px; position: relative; float: left;}
.listadoPROVIS ul {padding: 12px 0px 12px 13px; margin: 0px; font-size:12px;}
.listadoPROVIS li {
    background-position: -385px 0px;
    background-repeat: no-repeat;
    
    height: 34px;
    list-style-type: none;
    padding: 0 0 0 17px;
}

.masPROVIS {background-position: -333px -90px;
    float: right;
    font-family: 'brandon_grotesque_blackRg';
    font-size: 14px;
    margin: -27px 3px 0 0;
    position: relative;
    width: 66px;}




