

.gris1 {color:#EBEBEB !important;}
.gris1_BG {background-color:#EBEBEB !important;}


.gris2 {color:#888888 !important;}
.gris2_BG {background-color:#888888 !important;}

.gris3 {color:#F1E7F8 !important;}
.gris3_BG {background-color:#F1E7F8 !important;}

.gris4 {color:#F4F7F4 !important;}
.gris4_BG {background-color:#F4F7F4 !important;}


.color {color:#B786CC !important;}
.color_BG {background-color:#B786CC !important;}

h2 strong {color:#6C2F91;}
h3 strong {color:#6C2F91;}
.color1 {color:#6C2F91 !important;}
.color1 a {color:#6C2F91 !important;}

.color1_BG {background-color:#6C2F91 !important;}
.bdc1 {border:1px solid #6C2F91; }


.color2 {color:#F7F0FB !important;}
.color2_BG {background-color: #F7F0FB !important;}
.titCAT a:hover { background-color: #F7F0FB; }
.titCCUR a:hover { background-color: #F7F0FB; }
.bloqueCurDist li:hover { background-color: #F7F0FB;}
.listadoPROVIS li:hover { background-color: #F7F0FB;}



.color4_BG {background-color: #DBBCED !important;}
    

.blanco {color:#ffffff !important;}
.blanco_BG {background-color: #ffffff !important;}

.negro {color:#000000 !important;}
.negro_BG {background-color: #000000 !important;}
