
.distancia{ width:240px; height:60px;position: relative; float:left; margin-left: 13px;}
.DistanciaImage{ height:50px;width: 230px; cursor:pointer; }
.DistanciaImage img {width:240px; height: 60px;}

