

.geoCONT {width:632px; height:127px; }
.geo{ width:632px; height:127px;position: relative; float:left;}
.GeoImage{ height:117px;padding:5px;width: 190px; cursor:pointer; background-position: -50px; position:relative; float:left;}

.titGeoImg { 	float: left;	position: relative;    	width: 190px;}
.PROVGeoImg { 	float:right;	position: absolute;  top: 99px;	width: 190px; height: 24px; }
.flechaGeo {position: relative; float:right; width:17px; height:17px; background-position: -81px -22px; margin-left: 5px;    margin-top: 3px;}

.listadoPROVIS {width:426px;position:relative; float:left;}
.listadoPROVIS ul {padding: 13px 0px 12px 13px; margin: 0px; font-size:12px;}
.listadoPROVIS li {
		
    background-position: -385px -1px;
    background-repeat: no-repeat;
    
    height: 27px;
    list-style-type: none;
    padding: 0 0 0 17px;
}

.masPROVIS {width:44px; position:relative; float:right; margin:-28px 4px 0 0; font-size:13px; font-family:'brandon_grotesque_blackRg'; background-position: -356px 1px; }
