.adW_CUR_cent {width:884px;  position:relative; float:left;}
.cnt_ADDcurCent {margin-top:15px; margin-bottom:15px; border-top:1px solid #DDDDDD; border-bottom:1px solid #DDDDDD;;}
.int_ADDcurCent{background-color: #F4F7F4;   margin-left: 126px; padding-left: 17px;}

