.claves{ min-height:131px;}

.claves h3{ margin:8px 0px 8px 15px; font-family: "brandon_grotesque_boldregular",sans-serif;  font-size: 14px; font-weight:normal;}

.barraClaves {height: 30px; border-top:1px solid; width:100%;}

.botClav{height: 24px; width:150px; text-align: center; padding-top:6px; position:relative; float:left; cursor:pointer;}

.contClaves {padding:15px;}


#scrollbar1 { width: 850px; clear: both; margin: 20px 0 10px; }
#scrollbar1 .viewport { width: 830px; height: 200px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,

#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { height: 100%; width:1px; position: relative; padding: 0 0px; }
#scrollbar1 .thumb { height: 27px; width: 28px; cursor: pointer; overflow: hidden; position: absolute; top: 0; margin-left:-13px; background-position:-351px -6px; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }




#scrollbar2 { width: 850px; clear: both; margin: 20px 0 10px; }
#scrollbar2 .viewport { width: 830px; height: 200px; overflow: hidden; position: relative; }
#scrollbar2 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar2 .thumb .end,

#scrollbar2 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar2 .track { height: 100%; width:1px; position: relative; padding: 0 0px; }
#scrollbar2 .thumb { height: 27px; width: 28px; cursor: pointer; overflow: hidden; position: absolute; top: 0; margin-left:-13px; background-position:-351px -6px; }
#scrollbar2 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar2 .disable{ display: none; }





.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
