.cursosSimilares{ padding: 8px 15px 15px 15px;}

.cursosSimilares h3{font-family: "brandon_grotesque_boldregular",sans-serif;  font-size: 14px; font-weight:normal; text-transform: uppercase;}

.cadaCurSim {width:412px; margin: 10px 7px 0;}
.cadaCurSim	{height:36px;border-top:1px solid #AAAAAA;border-bottom:1px solid #aaaaaa; position: relative; float:left; cursor:pointer;}
.cadaCurSim img {height: 36px; width:60px; position:relative; float:right; background-color: #F4F7F4;}


.fTCCUR {width:45px; height: 36px; position:relative; float:left;}
.titCCUR{font-family:Arial; position: relative; float: left; margin: 2px 0 0 -35px; font-size: 13px;   width: 352px;  height: 33px; overflow: hidden;}


.flchCadCur { background-position: -305px -120px; width:48px; height: 36px; position: relative; float: right; }

