.logo  {position:relative; left:20px;  float: left;}


.margen_sup	{ height:22px;width: 1255px;}


.content {
   	float: left;
    margin-top: -112px;
    position: relative;
}



.imgCat	{position: relative; float:left;}
.imgCat {width:781px; height:209px;}
.icat {margin-left: 474px; margin-top: -135px;}
.imas {margin-left: 474px; margin-top: -209px;}



.breadcrumbs {color: #FFFFFF; margin-left:30px; }
.Tit_cur{width: 820px; margin-left:30px; min-height:40px; margin-top:6px;}
.Tit_cur h1 {	font-family: "brandon_grotesque_boldregular",sans-serif;	font-size:25px;	color:#ffffff;	margin:0px;	 line-height: 1.2;	 letter-spacing: -1px;	 text-shadow: black 0.1em 0.1em 0.2em;
	 filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=000000);
}


.margen_sup	{ height:22px;width: 920px;}


.Cont_bloque_negro {height:179px;}


.imgCat	{position: relative; float:left;}
.imgCat {width:540px; height:150px;}
.icat {margin-left: 380px; margin-top: -135px;}
.imas {margin-left: 380px; margin-top: -150px;}



