.logo  {position:relative; left:20px;  float: left;}




.margen_sup	{ height:22px;width: 1255px;}



.imgCat	{position: relative; float:left;}
.imgCat {width:781px; height:209px;}
.icat {margin-left: 474px; margin-top: -135px;}
.imas {margin-left: 474px; margin-top: -209px;}







.margen_sup	{ height:22px;width: 920px;}


.Cont_bloque_negro {height:179px;}


.imgCat	{position: relative; float:left;}
.imgCat {width:540px; height:150px;}
.icat {margin-left: 380px; margin-top: -135px;}
.imas {margin-left: 380px; margin-top: -150px;}



