


#cmenu ul {
position:relative;float:left;  width:260px; 
margin:5px 10px;background-color: #ffffff;
	
padding:0px; list-style: none; cursor:pointer;
	
}


.topOp  { 
padding: 8px 32px 9px 6px !important; background-color: #ff9900; border-top:1px solid #999999; 
color: #ffffff;
font-family: arial;
font-size: 13px;
background-position: right -33px !important;	
	
}
.topOp:hover  {background-color: #ff8800 !important; }


#cmenu li {
padding: 8px 20px 5px 8px; border-bottom: 1px solid #999999; border-left:1px solid #999999; border-right:1px solid #999999; 	
background-image:url('/img/iconos/fondico.png');
background-repeat:no-repeat;
background-position: right 10px;	
}

#cmenu li:hover {
background-color: #EEEEEE;	
	
}

#cmenu li a{
font-size:11px; font-family:Arial; text-decoration: none; color:#666666;
line-height: 1.5;
display:block;	
}