

.gris1 {color:#EBEBEB !important;}
.gris1_BG {background-color:#EBEBEB !important;}


.gris2 {color:#888888 !important;}
.gris2_BG {background-color:#888888 !important;}

.gris3 {color:#E9E2DC !important;}
.gris3_BG {background-color:#E9E2DC !important;}

.gris4 {color:#F4F7F4 !important;}
.gris4_BG {background-color:#F4F7F4 !important;}


.color {color:#FFCC33 !important;}
.color_BG {background-color:#FFCC33 !important;}

h2 strong {color:#E67300;}
.color1 {color:#E67300 !important;}
.color1_BG {background-color:#E67300 !important;}
.bdc1 {border:1px solid #E67300; }

.color2 {color:#FFF7DD !important;}
.color2_BG {background-color: #FFF7DD !important;}
.titCAT a:hover { background-color: #FFF7DD; }
.titCCUR a:hover { background-color: #FFF7DD; }
.bloqueCurDist li:hover { background-color: #FFF7DD;}    
.listadoPROVIS li:hover { background-color: #FFF7DD;}


.color4_BG {background-color: #FFF7DD !important;}


.blanco {color:#ffffff !important;}
.blanco_BG {background-color: #ffffff !important;}

.negro {color:#000000 !important;}
.negro_BG {background-color: #000000 !important;}
