
.adW_LD {  
height: 258px;
padding: 7px 0 0 5px;
width: 304px;
     }

.adW_LD_P {
height: 154px;
width: 886px;

}

.adW_LD_i {  float: left;
    margin-left:20px;
    margin-top: 20px;
    position: relative;}
