.logo  {position:relative; left:20px;  float: left;}






.imgCat	{position: relative; float:left;}
.imgCat {width:781px; height:209px;}
.icat {margin-top: -58px;}







.Cont_bloque_negro {height:209px;}


.imgCat	{position: relative; float:left;}
.imgCat {width:540px; height:150px;}




