


.masCATS {position:relative; float:left; padding: 0 0 10px 0;}
.titmasCATS {font-size:16px; font-family:'brandon_grotesque_blackRg'; margin: 10px 0 0 10px;}
.cadaCAT	{height:40px;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd; position: relative; float:left; cursor:pointer;}
.cadaCAT img {height: 40px; width:60px; position:relative; float:right; background-color: #F4F7F4;}
.fTC {width:20px; height: 40px; background-color: #F4F7F4; position:relative; float:left;}
.titCAT{font-family:Arial; position: relative; float: left; margin: 2px 0 0 -11px;}



