


.masCATS {width:886px;}
.cadaCAT	{width:280px; margin: 10px 7px 0;}
.titCAT{width:220px;}

.catsInf { min-height: 30px;padding-bottom: 16px;padding-left: 3px;width: 883px;}
.masCATS {position:relative; float:left; padding: 0 0 10px 0;}
.titmasCATS {font-size:16px; font-family:'brandon_grotesque_blackRg'; margin: 10px 0 0 10px;}
.cadaCAT	{height:36px;border-top:1px solid #AAAAAA;border-bottom:1px solid #aaaaaa; position: relative; float:left; cursor:pointer;}
.cadaCAT img {height: 36px; width:60px; position:relative; float:right; background-color: #F4F7F4;}
.fTC {width:45px; height: 36px; position:relative; float:left;}
.titCAT{font-family:Arial; position: relative; float: left; margin: 2px 0 0 -35px; font-size: 13px;}

.ticScatF { background-position: -305px -120px; width:48px; height: 36px; position: relative; float: right; }



