

.allsliders{height: 235px; width:309px; position:relative; float:left;}

.sliderContainer{
    margin-top:15px;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	width:309px; height:174px;
	position: relative;
}

#slider 		{width: 309px; height: 174px; overflow: hidden;position: relative;}
#slider .slide	{width: 309px; height: 174px; float: left; }

.prev, .next	{display: block; height: 40px; width: 39px; position: relative; cursor:pointer;}
.prev			{background-position: 0 0;float: left;left: 7px; position: relative;  top: 3px; }
.next			{background-position: -40px 0;    float: right;    left: -3px;    position: relative;    top: 3px; }




.sliderContainer ul {padding: 5px 0px 5px 0px; margin: 0px; font-size:9px;}
.sliderContainer li {
   background-position: -385px 0;
    background-repeat: no-repeat;
    line-height: 14px;
    list-style-type: none;
    margin-top: 1px;
    padding: 1px 0 0 17px;
}

.bannerSlideleft	{ 
     float: left;
    height: 99px;
    padding: 8px 8px 10px 15px;
    width: 284px;
    
    }
    
.bannerSlideright	{float:right;	width: 445px; height: 113px;padding: 6px 20px 15px 5px;}


/* del carrito */



.allslidersCarr {height: 167px; width:886px; position:relative; float:left;}

.sliderContainerCarr {
    margin-top:15px;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	width:884px; height:134px;
	position: relative;
}

#sliderCarr 		{width: 884px; height: 134px;overflow: hidden;position: relative;}
#sliderCarr .slideCarr	{width: 884px; height: 134px;float: left;}

.prevCarr, .nextCarr	{display: block; height: 40px; width: 39px; position: relative; cursor:pointer;}
.prevCarr			{position: relative; float:left; top: -90px;  left: -18px; background-position: 0px 0px; }
.nextCarr			{position: relative; float:right; top: -90px;  left: 18px; background-position: -40px 0px; }




.bannerSlideleft p {font-size:10px; color:#444444;}

.slide h3 {  font-family: "brandon_grotesque_boldregular",sans-serif;  font-size: 13px;   letter-spacing: -1px;   line-height: 1.1;   margin: 0; text-transform: uppercase}








