.sbCURinf0 { width:265px; height: 250px; margin-right:13px; position:relative; float:left; padding:10px; cursor:pointer;}
.sbCURinf1 { width:265px; height: 250px; margin-right:13px; position:relative; float:left; padding:10px; cursor:pointer;}
.sbCURinf2 { width:265px; height: 250px; position:relative; float:left; padding:10px; cursor:pointer;}


.tCcl   {position: relative;    width: 260px;    z-index: 999; min-height:58px;}
.tCcl a {font-family: Arial;  font-size: 16px;  font-weight: normal; }

.tCci { border-top: 1px solid #BBBBBB;padding-top: 3px;border-bottom: 1px solid #BBBBBB;height: 40px; position:relative; width:285px; left:-10px}

.tCci img {   border: 1px solid #BBBBBB; left: 8px; padding: 1px; position: absolute; top: 6px; width: 55px;}

.tCcf {float: left; color:#444444;
    font-size: 9px;
    left: 73px; text-transform:uppercase;
    line-height: 13px;
    position: absolute;
    top: 1px;}

.tCcf2 {float: left; color:#444444;
    font-size: 9px;
    left: 200px; text-transform:uppercase;
    line-height: 1.1;
    position: absolute;
    top: 3px;}


.tCcd {color:#444444; font-family: Arial;  font-size: 12px;  font-weight: normal; position:relative; float:left; position:absolute; top:120px;width:260px; height: 130px;  overflow: hidden;}
.tCcFl { background-position: -305px -120px;
    float: right;
    height: 36px;
    left: 238px;
    position: absolute;
    top: 233px;
    width: 48px;}


