.descTXT {padding:13px 15px 15px 15px;  float: left; position: relative;}
.descTXT h1 { font-family: 'brandon_grotesque_boldregular'; font-size: 14px;color:#000000;line-height: 1.1; text-transform: uppercase;}
.descTXT p  { font-family: 'Arial';    font-size: 13px;	color:#333333;	line-height: 1.1;}


