.BQDonline {
	position:relative; float:left; width:290px; padding-bottom:5px; margin-bottom:15px; border-bottom: 1px solid #BBBBBB;
}

.BQDdistancia{
	position:relative; float:left; width:290px; margin-bottom:10px;
}
