.sedes {width:309px; height: auto;}



.contSedes h3 {margin:10px 0px 0px 5px;font-family: "brandon_grotesque_boldregular",sans-serif;  font-size: 14px; font-weight:normal;}
.contSedes h4 a {width:237px;}

.contSedes{padding:5px;  position:relative; float:left; width: 285px;}

.cadprov {position: relative; float:left; margin:5px 0px 0px 5px; border-bottom:1px solid #bbbbbb; width:265px; padding-bottom:5px; height:25px;}
#scrollbar4 { width: 300px; clear: both; margin: 10px 0 10px; }
#scrollbar4 .viewport { width: 280px; height: 165px; overflow: hidden; position: relative; }
#scrollbar4 .overview { height: 140px;}